<div>
  <br>
  <H1>Validación de Circulación</H1>

  <form (ngSubmit)="submitForm()" #consultaForm="ngForm">
    <div class="form-group">
      <label for="placa">Placa del vehículo:</label>
      <input type="text" class="form-control" id="placa" name="placa" [(ngModel)]="placa" required>
<!--      <div *ngIf="formulario.get('placa').hasError('required')" class="text-danger">El campo placa es requerido.</div>
      <div *ngIf="formulario.get('placa').hasError('pattern')" class="text-danger">El formato de la placa no es válido (ejemplo: ABC-123).</div>-->
    </div>
    <div class="form-group">
      <label for="fecha">Fecha actual:</label>
      <input type="datetime-local" class="form-control" id="fecha" name="fecha" [(ngModel)]="fecha" required>
<!--      <div ngIf="formulario.get('fecha').hasError('required')" class="text-danger">El campo fecha es requerido.</div>-->
    </div>
    <div></div>
    <br>
    <div class="form-group d-flex justify-content-center align-items-center">
      <button type="submit" size="lg" class="btn btn-outline-success text-center mx-3">Realizar consulta</button>
      <button type="button" class="btn btn-danger text-center mx-3" (click)="limpiarFormulario()">Limpiar Campos</button>
    </div>
  </form>


  <ng-template #modalContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Respuesta de la consulta</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{ resultado }}</p>
    </div>
  </ng-template>

</div>








